<%- include('../partials/html-head') %> 
<!-- insert custom page stylesheet here -->
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/flights" method="POST">
    <label for="airline-input">Airline:</label>
      <input type="text" name="airline" id="airline-input">
      <select name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>

    <label for="airport-input">Airport:</label>
      <input type="text" name="airport" id="airport-input">
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
        <!-- add flight number data here -->
        <!-- add departs data here -->

  </form>
</main>

<%- include('../partials/footer') %> 